# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.so

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
env/
ENV/
.venv/
.ENV/
.env
*.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-store/
.pnp/
.npm/
.cache/
.parcel-cache/
.next/

# Next.js build output
out/

# Next.js static files
*.next/static
*.next/cache
static/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log

# IDEs and editors
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.swp
